	.main-color {
		background-color: $m-main-color;
	}

	/deep/.u-tab-item {
		background-color: $m-main-color;
	}

	/deep/.u-tab-bar {
		bottom: 16rpx;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40rpx;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 100rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 28rpx;
		color: $u-content-color;
	}

	.button-demo {
		margin-top: 80rpx;
	}

	.link-demo {
		margin-top: 80rpx;
	}

	.wrap {
		height: 80rpx;
		display: flex;

		.left {
			width: 332rpx;
			display: flex;

			.left-view {
				width: 84rpx;
				height: 80rpx;

				.left-view-img {
					margin: 18rpx 0 0 24rpx;
					width: 40rpx;
					height: 29rpx;
					background: url(../../static/live-streaming.png) no-repeat;
				}
			}
			.right-view{
				display: flex;
				margin-top: 16rpx;
				height: 34rpx;
				font-size: 24rpx;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #666666;
				line-height: 34rpx;
				.triangle-down{
					margin-left: 6rpx;
					margin-top: 12rpx;
					   width: 0;
					    height: 0;
					    border-left: 6rpx solid transparent;
					    border-right: 6rpx solid transparent;
					    border-top: 8rpx solid #666666;
				}
			}
		}

		.right {
			position: relative;
			width: 418rpx;
			width: 200px;

			.u-input {
				margin-top: 10rpx;
				background: #F9FAFB;
				border-radius: 24rpx;
				width: 400rpx;
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #999999;
				border: 1px solid $m-main-color;
			}

			.input-icon {
				text-indent: 38rpx;
			}

			.input-imgs {
				width: 20rpx;
				height: 20rpx;
				left: 20rpx;
				top: 24rpx;
				position: absolute;
				background: url(../../static/search.png) no-repeat 100%;
			}
		}
	}

	.jingdong:nth-child(even) {
		.left {
			background: url(../../static/movies.png) no-repeat;
		}
	}

	.jingdong {
		margin-bottom: 40rpx;
		width: 750rpx;
		height: 216rpx;
		background-color: $m-main-color;
		display: flex;

		.left {
			width: 144rpx;
			height: 204rpx;
			margin: 12rpx 40rpx 0 20rpx;
			background: url(../../static/movie.png) no-repeat;
		}

		.right {
			position: relative;
			width: 520rpx;
			margin-top: 12rpx;
			font-size: 28rpx;

			.top {
				height: 226rpx;
				border-bottom: 2rpx solid $u-border-color;

				.title {
					margin-bottom: 14rpx;
					font-size: 30rpx;
					font-family: PingFangSC-Medium, PingFang SC;
					font-weight: 500;
					color: #333333;
				}

				.bottom {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 18rpx;

					.grade {
						flex: 1;
						font-size: 24rpx;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #666666;

						& span {
							color: $m-select-color;
							font-size: 30rpx;
						}
					}
				}

				.director {
					margin-bottom: 10rpx;
					height: 34rpx;
					font-size: 23rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #666666;
					line-height: 34rpx;
				}

				.act {
					margin-bottom: 0;
				}
			}

			.tips {
				width: 100%;
				line-height: 50rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 24rpx;

				.transpond {
					margin-right: 10rpx;
				}

				.explain {
					display: flex;
					align-items: center;
				}

				.particulars {
					width: 30rpx;
					height: 30rpx;
					box-sizing: border-box;
					padding-top: 8rpx;
					border-radius: 50%;
					background-color: $u-type-info-disabled;
					text-align: center;
				}
			}

			.buy-ticket {
				top: 90rpx;
				right: 20rpx;
				border-radius: 28rpx;
				text-align: center;
				position: absolute;
				width: 120rpx;
				height: 56rpx;
				font-size: 30rpx;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #FFFFFF;
				line-height: 56rpx;
				background-color: #FB5F73;
			}
		}
	}
	.coming-soon-top{
		margin-left: 24rpx;
		margin-bottom: 10rpx;
		height: 40rpx;
		font-size: 30rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #333333;
		line-height: 40rpx;
	}
	.coming-soon-center{
		margin-left: 24rpx;
		height: 40rpx;
				font-size: 30rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #333333;
		line-height: 40rpx;
	}
